* {
  margin: 0;
  padding: 0;
}
.page {
  background-color: #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.page .container {
  background-color: white;
  height: 500px;
  width: 325px;
  display: block;
  border-radius: 20px;
}
.page .container .pic img {
  height: 300px;
  width: 300px;
  transform: translateY(calc(25px / 2));
  border-radius: 20px;
}
.page .container .content {
  font-family: sans-serif;
  margin: 20px 0 20px;
}
.page .container .content p:nth-child(1) {
  margin: 30px 25px 0;
  font-size: 21px;
  font-weight: 700;
  color: #000056;
}
.page .container .content p:nth-child(2) {
  margin: 15px 25px 0;
  color: #8c8c8c;
}
